@charset "UTF-8";
header h1{ color: rgb(37, 122, 71); text-align: center;}
header h2{ color: rgb(9, 249, 133); text-align: center; text-decoration: none;}
body{ background-color: black;}
img{  text-align: center; border-color: chartreuse;
margin: auto;border-radius: 45%; text-align: center; display: block;} 
p{color: hsl(123, 95%, 36%); text-align: center;}
a{ text-align: center;display: block; color: rgb(14, 205, 36);} 
 a{ text-align: center;;display: block; color: color: rgb(18, 224, 42);}
 h1{color: forestgreen; text-align: center;}  
 h2{ color: darkgreen; text-align: center;}



 .minha-caixa {
    width: 300px;          /* Largura da caixa */
    height: 150px;         /* Altura da caixa */
    background-color: hsl(139, 68%, 42%); /* Cor de fundo */
    border: 2px solid #23a966;    /* Borda da caixa */
    padding: 20px;             /* Espaçamento interno */
    box-shadow: 2px 2px 8px rgba(19, 128, 165, 0.2); /* Sombra opcional */
    border-radius: 15px;        /* Cantos arredondados */
  margin: auto;}


  .minha-caixa2 {
    width: 300px;          /* Largura da caixa */
    height: 150px;         /* Altura da caixa */
    background-color: hsl(139, 68%, 42%); /* Cor de fundo */
    border: 2px solid #23a966;    /* Borda da caixa */
    padding: 20px;             /* Espaçamento interno */
    box-shadow: 2px 2px 8px rgba(19, 128, 165, 0.2); /* Sombra opcional */
    border-radius: 15px;        /* Cantos arredondados */
  margin: auto;}
  div>a {background-color: black; }



